Repository eu-nebulous/zuul-jobs: changes, and which Zuul jobs are due for each by the changed paths.
All: nebulous-component-template-hadolint, nebulous-component-template-helm-lint, nebulous-component-template-apply-helm-charts, opendev-buildset-registry

zuul.d/project.yaml:

- project:
    check:
      jobs: &check-jobs
        - nox-linters

        # cross-testing with component-template
        - nebulous-component-template-hadolint:
            vars:
              zuul_work_dir: src/opendev.org/nebulous/component-template
            required-projects:
              - nebulous/component-template
            files:
              - ^playbooks/hadolint/
              - ^roles/ensure-hadolint/
              - ^roles/hadolint/
        - nebulous-component-template-helm-lint:
            vars:
              zuul_work_dir: src/opendev.org/nebulous/component-template
            required-projects:
              - nebulous/component-template
            files:
              # NOTE: hackish way to only run it when its definition changes
              # as no files exist in this repo that control its behaviour
              - ^never-existing-file$
        - nebulous-component-template-apply-helm-charts:
            vars:
              zuul_work_dir: src/opendev.org/nebulous/component-template
            required-projects:
              - nebulous/component-template
            files: &nebulous-component-template-apply-helm-charts-files
              - ^playbooks/helm/
              - ^playbooks/kubernetes/
              - ^roles/collect-kubernetes-pods-logs/
        - opendev-buildset-registry:
            files: *nebulous-component-template-apply-helm-charts-files

    gate:
      jobs: *check-jobs

[CI] Refactor the maven role
  playbooks/java-libraries/build.yaml
  roles/maven/defaults/main.yml
  roles/maven/tasks/main.yml
  zuul.d/project.yaml
Due: none

Add promote container images role
  roles/nebulous-promote-container-image/defaults/main.yaml
  roles/nebulous-promote-container-image/tasks/main.yaml
  roles/nebulous-promote-container-image/tasks/promote-from-intermediate-registry.yaml
  roles/nebulous-promote-container-image/tasks/promote-registry.yaml
  roles/nebulous-promote-container-image/tasks/promote-retag-inner.yaml
  roles/nebulous-promote-container-image/tasks/promote-retag.yaml
Due: none

[image-promote] Push also timestamped
  roles/nebulous-promote-container-image/tasks/promote-registry.yaml
Due: none

Improve the CI check for pod liveness to fail on pods that are repeatedly restarting
  playbooks/helm/run.yaml
  roles/check-pod-restarts/tasks/main.yaml
  zuul.d/jobs.yaml
Due: nebulous-component-template-apply-helm-charts, opendev-buildset-registry

Collect k8s state
  playbooks/kubernetes/post.yaml
  roles/collect-kubernetes-state/tasks/main.yaml
Due: nebulous-component-template-apply-helm-charts, opendev-buildset-registry

Quick fix for the previous commit
  roles/collect-kubernetes-state/tasks/main.yaml
Due: none

Fix the job trigger for the new role
  zuul.d/project.yaml
Due: none

Use the default minikube driver (docker)
  playbooks/helm/pre.yaml
  playbooks/kubernetes/post.yaml
  roles/ensure-minikube/defaults/main.yaml
  roles/ensure-minikube/tasks/main.yaml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: nebulous-component-template-apply-helm-charts, opendev-buildset-registry

Check all the deployments once at the end
  playbooks/helm/run.yaml
Due: nebulous-component-template-apply-helm-charts, opendev-buildset-registry

Increase timeout
  playbooks/helm/run.yaml
Due: nebulous-component-template-apply-helm-charts, opendev-buildset-registry

Use max cpus and memory in minikube
  playbooks/helm/pre.yaml
Due: nebulous-component-template-apply-helm-charts, opendev-buildset-registry

Patch minikube docker daemon config to use the buildset registry
  playbooks/helm/pre.yaml
Due: nebulous-component-template-apply-helm-charts, opendev-buildset-registry

Switch minikube to cri-o
  playbooks/helm/pre.yaml
Due: nebulous-component-template-apply-helm-charts, opendev-buildset-registry

Collect more minikube logs
  playbooks/kubernetes/post.yaml
  roles/collect-minikube-logs/tasks/main.yaml
Due: nebulous-component-template-apply-helm-charts, opendev-buildset-registry

Replace also minikube kubelet config.json
  playbooks/helm/pre.yaml
Due: nebulous-component-template-apply-helm-charts, opendev-buildset-registry

Install buildset registry CA certificate in minikube
  playbooks/helm/pre.yaml
Due: nebulous-component-template-apply-helm-charts, opendev-buildset-registry

Add buildset registry to minikube /etc/hosts
  playbooks/helm/pre.yaml
Due: nebulous-component-template-apply-helm-charts, opendev-buildset-registry

Install helm releases the usual way
  playbooks/helm/run.yaml
  zuul.d/project.yaml
Due: nebulous-component-template-apply-helm-charts, opendev-buildset-registry

Make helm always wait
  playbooks/helm/run.yaml
Due: nebulous-component-template-apply-helm-charts, opendev-buildset-registry

[hadolint] Exclude certain version-pinning rules
  roles/hadolint/tasks/main.yaml
Due: nebulous-component-template-hadolint
